<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/users/home">Home</a>
<a href="/stories/<%= story.id %>/edit">Edit</a>
<a href="/stories/<%= story.id %>/delete">Delete</a>

<h1>Happy Reading...</h1>

<h2>Title:</h2>
<h2><%= story.title %></h2>

<h2>Location:</h2>
<h3><%= story.location %></h3>

<h2>Written by:</h2>
<h3><%= user.username %></h3>

<h2>Description:</h2>
<h2><%= story.description %></h2>

<h2>Comments:</h2>

<form action="/stories/<%= story.id %>" method="post">
    <input type="text" name="author" placeholder="Enter author...">
    <input type="text" name="content" placeholder="Content here...">
    <input type="submit" value="Comment">
</form>

<% story.comments.forEach(comment => { %>
    <h3><%= comment.content %></h3>
    <h4><%= comment.author %></h4>
    <a href="/comments/<%= comment.id %>/edit">Edit</a>
    <a href="/comments/<%= comment.id %>/delete">Delete</a>
<% }) %>