<link rel="stylesheet" href="/stylesheets/style.css">

<button class="button2"><a href="/users/home">Home</a></button>
<button class="button2"><a href="/stories/new">Post a story</a></button>
<button class="button2"><a href="/users/logout">Logout</a></button>

<div class="all-centre">
<h2>Welcome!</h2>
<h3><%= user.username %></h3>

<% story.forEach(story => { %>
<a href="/stories/<%= story.id %>">
    <h2><%= story.title %></h2>

    <% if (story.author.id.toString() === user.id.toString()) { %>
    <a href="/stories/<%= story.id %>/delete">Delete</a>
    <% } %>
</a>
<h2><%= story.author.username %></h2>
<% }) %>
</div>